NEXT_PUBLIC_BASE_URL=http://localhost:3000

MONGODB_URI=connection-string

BETTER_AUTH_SECRET=secret

# Gmail
SMTP_FROM="Tomecka. <stepan@tomecka.com>"
SMTP_USER=stepan@tomecka.com
SMTP_PASS="email-password"

# Other
SMTP_FROM="Tomecka. <stepan@tomecka.com>"
SMTP_NOREPLY=no-reply@tomecka.com
SMTP_HOST=smtp.zoho.com
SMTP_PASS="email-password"
SMTP_USER=stepan@tomecka.com
SMTP_PORT=465